* {
  margin: 0;
  padding: 0;
  /* font-family: "Hind Siliguri", sans-serif; */
  font-family: "Roboto", sans-serif;
}

body {
  height: 200vh;
  background: #111;
}
/* -----------------arrow-up---------------- */
.arrow-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}
.arrow-btn a {
  height: 60px;
  width: 60px;
  text-align: center;
  /* background: #1b1b1b; */
  background: red;
  display: block;
  border-radius: 3px;
  cursor: pointer;
}

.arrow-btn a span {
  color: #f2f2f2;
  line-height: 55px;
  font-size: 50px;
}
@media (max-width: 500px) {
  .arrow-btn {
    position: fixed;
    bottom: 50px;
    right: 10em;
    z-index: 9;
    /* z-index: 90; */
  }
  .arrow-btn a {
    height: 50px;
    width: 50px;
    text-align: center;
    /* background: #1b1b1b; */
    background: red;
    display: block;
    border-radius: 3px;
    cursor: pointer;
  }

  .arrow-btn a span {
    color: #f2f2f2;
    line-height: 50px;
    font-size: 35px;
  }
}
/* ----------------arooww----------------- */

section {
  position: absolute;
  background: #2abbff;
  /* width: 130%;
  height: calc(100% - 200px); */
  width: 100%;
  height: calc(100% - 200px);
  /* margin: 115em; */
}

section .curve {
  position: absolute;
  transform-origin: top;
  /* bottom: -198px;
  height: 200px;
  width: 90%; */
  bottom: -200px;
  height: 200px;
  width: 100%;
}

section .curve img {
  /* width: 90%; */
  width: 100%;
  height: 100%;
}

.title h1 {
  color: white;
  text-align: center;
  font-size: 10em;
  padding-top: 1.5em;
  /* letter-spacing: 5px; */
  /* transform: translate(-50%, -50%); */
  position: absolute;
}

.title {
  position: relative;
  padding-left: 25em;
}

.title h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px white;
  /* animation: animate 4s ease-in-out infinite; */
}
.title h1:nth-child(2) {
  color: white;

  animation: animate 2s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0 82%,
      6% 78%,
      24% 76%,
      39% 83%,
      57% 86%,
      71% 79%,
      82% 77%,
      93% 81%,
      100% 89%,
      100% 99%,
      0% 99%
    );
  }

  50% {
    clip-path: polygon(
      0 76%,
      18% 78%,
      39% 83%,
      63% 82%,
      79% 78%,
      100% 83%,
      100% 99%,
      0% 99%
    );
  }
}

/* -----------------------------certificate and detial--------------- */

.btn {
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn3,
.btn4 {
  color: #fff;
}

.btn3:hover,
.btn4:hover {
  color: #3498db;
  /* color: black; */
  background-color: white;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}

.btn3::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn4::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn3::before,
.btn4::before {
  height: 180%;
}

.btn3:hover::before,
.btn4:hover::before {
  height: 0%;
}

body {
  background-color: black;
}

.content {
  box-sizing: border-box;

  word-wrap: break-word;
  width: 40em;
  height: 30em;
}
.ctn1 {
  margin: 1.8em;
}
.heading {
  padding-bottom: 0.5em;

  color: white;
  font-size: 3em;
}

.heading h2 {
  padding-bottom: 4px;
  text-align: center;
}

.ctn {
  display: flex;
  flex-direction: row;
  padding: 8em 0em 0em 2em;
}

.linee {
  /* text-decoration: underline; */
  border: 10px solid white;
  /* border-top: 1px dashed red; */
  border-radius: 5px;
  padding-top: 10px;
}

.photo img {
  width: 43em;
  height: 32em;
}

.all > .content_div {
  /* padding-top: 70em; */
  margin-top: 170em;
}



/* --------------------footer---------------- */
.footerr {
  display: flex;
}
.wrapper1 {
  margin: 4em;
  font-size: 3em;
  /* padding-left: em; */
}

.footer-social a {
  /* color: #fff; */
  /* border: 2px solid #fff;
  background-color: none;
  width: 80px;
  height: 80px; */
  display: inline-block;
  text-align: center;
  /* line-height: 40px; */
  /* border-radius: 50%; */
  margin: 30px;
  font-size: 5em;
}
.footer-social {
  margin-top: 12em;
  padding-right: 12em;
}
.footer-social a i {
  font-size: 2em;
  /* color: #fff; */
  /* background-color: none; */
}
.footer_social_icon i {
  font-size: 1em;
  /* color: #111; */
  color: white;
}
.footer_social_icon h2 {
  font-size: 3em;
}
@media (max-width: 480px) {
  .footerr {
    display: flex;
    padding-top: 15em;
  }

  .wrapper1 {
    margin: 3em;
    padding-left: 2em;
    font-size: 4em;
  }
  .footer-social {
    margin-top: 15em;
    padding-left: 4em;
  }

  /* -------------- */
  .footer-social a {
    /* color: #fff; */
    /* border: 2px solid #fff;
    background-color: none;
    width: 80px;
    height: 80px; */
    display: inline-block;
    text-align: center;
    /* line-height: 40px; */
    /* border-radius: 50%; */
    margin: 30px;
    font-size: 5em;
  }
  .footer-social {
    margin-top: 12em;
    padding-right: 12em;
  }
  .footer-social a i {
    font-size: 2em;
    /* color: #fff; */
    /* background-color: none; */
  }
  .footer_social_icon i {
    font-size: 1em;
    /* color: #111; */
    color: white;
  }
}

/* -------------------------foooter over---------------------- */

/* -----------------------responsivnesss------------------s */

/* --------------mobile--------------- */

@media (max-width: 480px) {
  section {
    position: absolute;
    /* width: 135%; */
    min-width: 400%;
    height: calc(260%);
    background: #2abbff;
  }

  section .curve {
    position: absolute;
    bottom: -198px;
    height: 205px;
    /* width: 103%; */
    min-width: 105%;
    transform-origin: top;
  }

  section .curve img {
    width: 96%;
    height: 170%;
  }

  .title h1 {
    color: white;
    text-align: center;
    font-size: 17em;
    padding-top: 3.5em;
    /* letter-spacing: 5px; */
    /* transform: translate(-50%, -50%); */
    position: absolute;
  }

  .title {
    position: relative;
    padding-left: 15em;
    margin: auto;
  }

  .all {
    padding-top: 115em;
    padding-bottom: 20em;
  }

  .title h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px white;
    /* animation: animate 4s ease-in-out infinite; */
  }
  .title h1:nth-child(2) {
    color: white;

    animation: animate 2s ease-in-out infinite;
  }
  .ctn {
    display: flex;
    flex-direction: column;
    padding-top: 40em;
    padding-bottom: 40em;
    /* padding-left: 20em; */
    margin: 0em 0em 0em 8em;
  }
  .footer_social_icon h2 {
    font-size: 4em;
  }
  .bgg {
    width: 120em;
  }

  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0 42%,
        3% 38%,
        14% 36%,
        19% 43%,
        27% 46%,
        31% 39%,
        42% 37%,
        43% 41%,
        50% 49%,
        40% 49%,
        0% 45%
      );
    }

    50% {
      clip-path: polygon(
        0 36%,
        9% 38%,
        29% 43%,
        33% 42%,
        49% 38%,
        50% 43%,
        50% 49%,
        0% 40%
      );
    }
  }

  .photo img {
    width: 90em;
    height: 65em;
  }

  .content {
    box-sizing: border-box;

    word-wrap: break-word;
    width: 80em;
    height: 30em;
    margin: 3.5em;
    /* border: 10px solid white;
    border-radius: 5px; */
  }
  .content1 p {
    font-size: 3em;
    color: white;
    /* word-wrap: break-word; */
    text-align: justify;
  }
  .heading {
    font-size: 5.4em;
  }

  .btn {
    border: 5px solid #3498db;
    background: none;
    padding: 35px 70px;
    font-size: 50px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
  }
  .linee {
    /* text-decoration: underline; */
    border: 10px solid white;
    /* border-top: 1px dashed red; */
    border-radius: 5px;
    margin-top: 55px;
  }

  /* .html {
      font-size: 60px;
    } */
}

/* ----------------small-devices----- */
@media (min-width: 786px) {
}
/* ----------------ipad+tablet------------- */

/* --------------------laptop------------------ */
